body {
    font-family: "Source Sans Pro";
}

.letterhead {
    font-family: "Apex New";
    font-weight: lighter;
    font-size: 32px;
    padding-bottom: 20px;
}

.letterhead svg {
    position: absolute;
}

.letterhead span {
    position: relative;
    left: 48px;
    top: 10px;

}

.letterhead em {
    font-style: normal;
    font-weight: bold;
}
